@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r25n3t');
  src:  url('../fonts/icomoon.eot?r25n3t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r25n3t') format('truetype'),
    url('../fonts/icomoon.woff?r25n3t') format('woff'),
    url('../fonts/icomoon.svg?r25n3t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
